<section class="w-full bg-white py-8 px-5 md:py-12 md:px-8 lg:py-24">
  <div class="max-w-full lg:max-w-400 mx-auto">
    <div class="flex flex-col gap-6 md:gap-4">
      <h2 class="font-bold text-[30px] md:text-[48px] leading-8 md:leading-14.5 text-black">
        Lorem ipsum dolor sit
      </h2>
      <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-4 w-full">
        <p class="font-normal text-[18px] leading-6.75 text-black">Lorem ipsum dolor sit</p>

        <div class="w-full md:w-75">
          <div class="relative">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <svg class="size-5 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                />
              </svg>
            </span>
            <input
              type="text"
              aria-label="Buscar artículos"
              placeholder=""
              class="w-full bg-gray-100 border-none py-3 pl-10 pr-4 rounded-lg text-sm focus:ring-2 focus:ring-primary-dark/10 outline-none"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-12 gap-x-8 gap-y-12">
      @for (item of articles; track $index) {
        <article
          class="flex flex-col gap-4"
          [class.hidden]="$index >= 4"
          [class.lg:flex]="$index >= 4"
        >
          <div
            class="w-full aspect-video bg-gray-muted rounded-lg flex items-center justify-center"
            aria-hidden="true"
          >
            <span class="font-figtree text-gray-soft font-bold text-3xl uppercase">Image</span>
          </div>

          <div class="flex items-center gap-2">
            <img src="/ico_calendar.svg" class="size-6" alt="" aria-hidden="true" />
            <p
              class="font-bold text-[16px] leading-6 tracking-normal text-center text-primary-dark"
            >
              {{ item.date }}
            </p>
          </div>

          <h3
            class="text-[23px] md:text-[30px] leading-6.25 md:leading-9.5 font-bold text-black md:line-clamp-2 line-clamp-2 md:h-[76px] break-all"
          >
            <span class="lg:hidden">
              {{ item.titleTablet }}
            </span>

            <span class="hidden lg:block">
              {{ item.titleDesktop }}
            </span>
          </h3>

          <p class="font-normal text-[16px] leading-6 text-black line-clamp-6 break-all">
            {{ item.description }}
          </p>
        </article>
      }
    </div>
  </div>
</section>
