<section class="w-full bg-white py-8 px-5 md:py-12 md:px-8">
  <div class="max-w-full lg:max-w-400 mx-auto">
    <h2 class="font-bold text-[30px] md:text-[48px] leading-8 md:leading-14.5 text-black mb-6">
      Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.
    </h2>

    <p class="font-normal text-[16px] leading-6 text-black mb-12">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit
      urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.
      Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non
      suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit
      amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam
      condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.
    </p>

    <div class="w-full overflow-hidden">
      <div
        class="flex lg:grid lg:grid-cols-4 gap-8 overflow-x-auto no-scrollbar -mr-6 pr-6 lg:mr-0 lg:pr-0 lg:w-full"
      >
        @for (item of articles; track $index) {
          <article
            class="flex-none lg:flex-initial w-[284px] h-[378px] md:w-[360px] md:h-[480px] md:w-[361px] lg:h-[482px] lg:w-full bg-gray-bg-card rounded-lg relative overflow-hidden"
          >
            <div
              class="absolute inset-0 bg-gradient-card flex flex-col justify-end p-6 z-10 text-white"
            >
              <span
                class="absolute top-[46%] left-1/2 -translate-x-1/2 -translate-y-1/2 font-bold font-figtree text-4xl leading-none text-gray-soft uppercase"
              >
                IMAGE
              </span>
            </div>
            <div class="absolute inset-0 bg-gradient-card-bottom z-10"></div>

            <div class="absolute inset-0 flex flex-col justify-end p-5 z-20">
              <div class="space-y-2">
                <h3 class="font-bold text-[30px] leading-[38px] text-white text-left">
                  {{ item.title }}
                </h3>

                <p class="font-normal text-base leading-6 text-white text-left opacity-90">
                  {{ item.description }}
                </p>

                <a
                  href="#"
                  class="flex items-center gap-2 font-bold text-base leading-6 text-white mt-4 md:mt-10 hover:underline"
                >
                  <span>Lorem ipsum</span>
                  <img src="/ico_download.svg" class="size-6" alt="" aria-hidden="true" />
                </a>
              </div>
            </div>
          </article>
        }
      </div>
    </div>
  </div>
</section>
