/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --breakpoint-sm: 460px; /* Mobile */
  --breakpoint-md: 768px; /* Tablet */
  --breakpoint-lg: 1024px; /* Desktop */

  /* Colors */

  --color-primary-dark: #343a40;
}
