<section class="w-full flex justify-center py-8 px-5 md:py-12 md:px-8 lg:py-16 bg-transparent">
  <div
    class="bg-white rounded-lg shadow-banner lg:max-w-400 mx-auto p-8 md:p-8 lg:p-10 transition-all duration-300"
  >
    <div class="flex flex-col lg:flex-row gap-8 lg:gap-12 items-stretch">
      <div class="w-full lg:w-1/2">
        <div
          class="aspect-video lg:aspect-auto h-full bg-gray-muted rounded-lg flex items-center justify-center shadow-sm"
        >
          <span class="font-figtree text-gray-soft font-bold text-3xl uppercase">Image</span>
        </div>
      </div>

      <div class="w-full lg:w-1/2 flex flex-col items-start text-left gap-4">
        <div class="flex items-center gap-2">
          <img src="/ico_calendar.svg" class="size-5" alt="" aria-hidden="true" />
          <p
            class="text-[10px] lg:text-[12px] font-bold text-primary-dark uppercase tracking-widest"
          >
            Lorem ipsum dolor sit amet.
          </p>
        </div>

        <h1
          class="text-2xl lg:text-[32px] font-bold text-primary-dark leading-tight lg:leading-[1.2]"
        >
          Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
          hendrerit
        </h1>

        <p class="font-inter font-normal text-base leading-6 text-primary-dark lg:hidden">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in
          hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
          ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum
          auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at
          maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque
          sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget
          tempus orci facilisis id.
        </p>
        <p class="hidden lg:block text-base text-primary-dark leading-relaxed">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in
          hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
          ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum
          auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at
          maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque
          sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget
          tempus orci facilisis id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et
          massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula
          consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in
          hendrerit urna.
        </p>

        <div class="w-full flex justify-end">
          <button
            class="w-auto text-base bg-[#e11d48] text-white px-2 py-2.5 lg:mt-6 rounded-lg shadow-md active:bg-red-800 transition-colors"
          >
            Lorem ipsum.
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
