<section class="bg-white rounded-lg py-8 px-5 my-8 mx-5 shadow-banner">
  <div class="flex flex-col gap-8">
    <div class="w-full">
      <div class="aspect-video bg-gray-muted rounded-lg flex items-center justify-center shadow-sm">
        <span class="font-figtree text-gray-soft font-bold text-3xl uppercase">Image</span>
      </div>
    </div>

    <div class="w-full flex flex-col items-start text-left gap-4">
      <div class="flex items-center gap-2">
        <img src="/calendar.svg" class="size-5" alt="" aria-hidden="true" />
        <p class="text-[10px] font-bold text-primary-dark uppercase tracking-widest">
          Lorem ipsum dolor sit amet.
        </p>
      </div>

      <h1 class="text-2xl font-bold text-primary-dark leading-tight">
        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit
      </h1>

      <p class="text-sm text-primary-dark leading-relaxed mb-8">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in
        hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices
        mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare
        leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante
        fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut
        diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci
        facilisis id.
      </p>

      <div class="w-full flex justify-end">
        <button
          class="w-auto text-base bg-[#e11d48] text-white px-2 py-2.5 rounded-lg shadow-md active:bg-red-800 transition-colors"
        >
          Lorem ipsum.
        </button>
      </div>
    </div>
  </div>
</section>
